@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 20px auto;
}
.overlayyy {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100 !important;
}

#modalContainer {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  z-index: 100 !important;
}

#modalContainer .container {
  margin: 20px 100px;
}

input.input_createTask {
  border: #e5e7eb 1px solid;
  border-radius: 5px;
  width: 80%;
  height: 32px;
}
input.input_createTask:hover {
  border-color: rgb(59 130 246 / 0.5);
}
input.input_createTask:focus-visible {
  border-color: rgb(59 130 246 / 0.5);
  outline: transparent;
}
